header {
    padding: 10px;
}

.ScribbleDiv{
    display: flex;
    justify-content: space-between;
}
#ScribblerId {
    color: Blue;
    margin-block-end: 0;
    margin-block-start: 0.1em;
    font-family: 'Montez', cursive;
    font-size: 45px;
}

#subheading{
    font-family: 'Ubuntu Mono', monospace;
    margin-top: 0;
}

.button {
    padding: 14px 28px;
    font-size: 15px;
    border: 1px;
    justify-content: left;
    text-align: center;
}
.signbutton button{
    background-color: blue;
    color: azure;
}

.FormClass input {
    background-color: #f1f1f1;
    width: -moz-available;
    border: antiquewhite;
    //border-radius: 0;
}
.FormClass textarea {
    background-color: #f1f1f1;
    width: -moz-available;
    border: antiquewhite;
    border-radius: 0;
}