.MainIndexBackground {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.PostButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.PostButton button{
    background-color: #cfb53b;
    color: #000;
}

.btnpara {
    text-align: center;
}
.ButtonCreate .btnpara{
    border-radius: 0;
    padding-left: 30px;
    padding-left: 30px;
}